name: Build and Release
permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        description: "Is this a beta release?"
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Extract Version
        id: extract_version      
        run: |
          VERSION=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=v$VERSION" >> $GITHUB_OUTPUT
          echo "beta=${{ github.event.inputs.beta }}" >> $GITHUB_OUTPUT

      - name: Decode Keystore
        run: |
          # Decoding the keystore to the project root
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > upload-keystore.jks

      - name: Create key.properties
        run: |
          # Creating the file in the root directory
          # Using keyAlias to match your build.gradle.kts
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> key.properties
          echo "keyAlias=upload" >> key.properties
          # Providing the absolute path for Kotlin's file() function
          echo "storeFile=$GITHUB_WORKSPACE/upload-keystore.jks" >> key.properties

      - name: Debug Signing Files
        run: |
          echo "--- Checking key.properties content (Passwords hidden) ---"
          # This will show us the keys and paths but hide the actual secret values
          sed 's/Password=.*/Password=********/' key.properties
          echo "--- Checking if keystore file exists ---"
          ls -l upload-keystore.jks
          echo "--- Current Working Directory ---"
          pwd

      - name: Build APKs
        run: |
          # Building the app flavors
          flutter build apk --flavor normal --release
          flutter build apk --flavor fdroid -t lib/main_fdroid.dart --release

      - name: Save APKs as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-apks
          path: build/app/outputs/flutter-apk/*.apk

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.extract_version.outputs.tag }}
          prerelease: ${{ github.event.inputs.beta == true }}
          draft: true
          files: build/app/outputs/flutter-apk/*.apk
          generate_release_notes: true
